:root {
    --heading-font: "Berkshire Swash", serif;
    --paragraph-font: "Bellefair", serif;

    --html-background-color: #182401;
    --general-text-color: #182401;
    --body-bg-color: #AEC3B0CC;

    --highlighted-bg-color: #240b92a4;
  
    --special-content-bg-color: aliceblue;
  
    --action--item-bg-color: #4b1db8;
    --action-text-color: #f8e008;
    
    --nav-hover-background-color: #230b92;
    --nav-hover-link-color: #ecb02d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: var(--html-background-color);
}

body {
    padding: 2rem;

    font-family: var(--paragraph-font);
    font-weight: 400;
    font-style: normal;
    font-size: large;

    background-color: var(--body-bg-color);
}

.header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3px;
    padding-bottom: 1rem;
}

nav {
    display: flex;
    text-align: right;
    justify-content: space-around;
    flex-wrap: wrap;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

nav ul li {
    display: inline;
    padding-right: 0.5rem;
}

nav ul li a {
    font-size: large;
    /*make like a button*/
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    background-color: var(--action--item-bg-color);
    padding: 10px 20px;
    color:var(--action-text-color);
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: var(--nav-hover-background-color);
    color: var(--nav-hover-link-color);
} 

h1, h2, h3 {
    font-family:  var(--heading-font);
    font-weight: 400;
    font-style: normal;
  }

 p {
    padding-bottom: 0.5rem;
  }

 img {
    padding-bottom: 0.5rem;
    width: 100%;
    height: auto;
 }

footer {
    text-align: center;
}

.sizer {
    min-width: 100%;
}

.special-content-box {
    margin-top: 3px;
    padding: .3rem;
    background-color: aliceblue;
    border-width: 3px;
    border-style: solid;
    border-color: var(--background-color);
    border-radius: 5px;
    min-width: 100%;
}

.special-content-box nav {
    justify-content: start;
    text-align: left;
    width: 100%;
    background-color: var(--action--item-bg-color);
    border-radius: 0px;
    border-style: solid;
    border-width:  2px;
    border-top: none;
    border-left: none;
    border-right: none;
    position: relative;
    top: -5px;
    left:-5px;
}

/*.special-content-box nav ul {
    position: relative;
    top: -5px;
    left:-5px;
}*/

.special-content-box nav ul li {
    padding-right: 0;
}

/*.special-content-box nav ul li a {
    border-radius: 0px;
    border-style: solid;
    border-width:  2px;
    border-top: none;
    border-left: none;
    border-right: none;
}*/

.hide-details {
    display: none;
}

.show-details {
    display: block;
}

.spacer {
    margin-top: 5%;
}

#mobile-menu {
    text-decoration: none;
}

.nav-menu {
    display: none;
}

#mobile-menu::before {
    content: "≡";
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color:var(--action-text-color);
    background-color: var(--action--item-bg-color);
    border-radius: 5px;
}

.header-flex nav {
    color:var(--action-text-color);
    background-color: var(--action--item-bg-color);
    border-radius: 5px;
}

.show {
    display: flex;
    flex-direction: column;
}

#mobile-menu.show::before {
    content: "X";
}

/*@media (min-width: 64rem) {
    
}*/