:root {
    --heading-font: "Berkshire Swash", serif;
    --paragraph-font: "Bellefair", serif;

    --html-background-color: #182401;
    --general-text-color: #182401;
    --body-bg-color: #AEC3B0CC;

    --highlighted-bg-color: #240b92a4;
  
    --special-content-bg-color: aliceblue;
  
    --action-item-bg-color: #4b1db8;
    --action-text-color: #FFD700; /*previously #f8e008;*/
    
    --nav-hover-background-color: #230b92;
    --nav-hover-link-color: #ecb02d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: var(--html-background-color);
}

body {
    margin-left: 0.5%;
    margin-right: 0.5%;

    font-family: var(--paragraph-font);
    font-weight: 400;
    font-style: normal;
    font-size: large;

    background-color: var(--body-bg-color);

    border-radius: 1px;
    border-style: solid;
    border-width:  3px;
    border-top: none;
    border-bottom: none;
    border-color: var(--action-text-color);
}

.special-border-div {
    padding-top: 10px;
    padding-left: 1%;
    padding-right: 1%;

    border-radius: 1px;
    border-style: solid;
    border-width:  3px;
    border-top: none;
    border-bottom: none;
    border-color: var(--action-item-bg-color);
}

.header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3px;
    padding-bottom: 1rem;
}

nav {
    display: flex;
    text-align: right;
    justify-content: space-around;
    flex-wrap: wrap;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

nav ul li {
    display: inline;
}

nav ul li a {
    font-size: large;
    /*make like a button*/
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    background-color: var(--action-item-bg-color);
    padding: 10px 20px;
    color:var(--action-text-color);
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: var(--nav-hover-background-color);
    color: var(--nav-hover-link-color);
} 

h1, h2, h3 {
    font-family:  var(--heading-font);
    font-weight: 400;
    font-style: normal;
  }

 p {
    padding: 0.5rem;
  }

 img {
    margin-bottom: 0.5rem;
    width: 100%;
    height: auto;
 }

footer {
    text-align: center;
}

.sizer {
    min-width: 100%;
}

.special-content-box {
    margin-top: 3px;
    background-color: var(--special-content-bg-color);
    border-width: 3px;
    border-style: solid;
    border-color: var(--background-color);
    border-radius: 5px;
    min-width: 100%;
}

.special-content-box nav {
    justify-content: start;
    text-align: left;
    width: 100%;
    background-color: var(--action-item-bg-color);

    border-radius: 1px;
    border-style: solid;
    border-width:  2px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: var(--action-text-color);
}

.special-content-box nav ul {
    display: flex;
    justify-content: space-around;
}

.special-content-box nav ul li {
    padding-right: 0;
    background-color: var(--nav-hover-background-color);
}

.hide-details {
    display: none;
}

.show-details {
    display: block;
}

.spacer {
    margin-top: 5%;
}

#mobile-menu {
    text-decoration: none;
    text-align: right;

    border-style: solid;
    border-width:  2px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-color: var(--action-text-color);
}

.nav-menu {
    display: none;
}

#mobile-menu::before {
    content: "≡";
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color:var(--action-text-color);
    background-color: var(--action-item-bg-color);
    border-radius: 5px;
}

.header-flex nav {
    color:var(--action-text-color);
    background-color: var(--action-item-bg-color);
    border-radius: 5px;
}

.show {
    display: flex;
    flex-direction: column;
}

#mobile-menu.show::before {
    content: "X";
}

.creature-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
  }
  
  .creature-card {
    background-size: cover;
    background-position: center;
    position: relative;
    width: 100%;
    padding: 15px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  }
  
  .creature-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1; 
  }
  
  .creature-card h3,
  .creature-card p {
    position: relative;
    z-index: 2; 
    margin: 0;
    padding: 10px;
    color: #fff;
    text-align: center;
  }
  
  .creature-card h3 {
    margin-top: 10px;
    font-size: 1.1em;
  }
  
  .creature-card p {
    font-size: 0.85em;
    margin-bottom: 10px;
  }

@media (min-width: 64rem) {

    body {
        margin-left: 10%;
        margin-right: 10%;
    }
    #mobile-menu {
        display: none;
    }
    .nav-menu {
        display: block;
    }

    .header-flex nav {
        background: rgba(0, 0, 0, 0);
    }

    .nav-menu li {
        margin: 0.5rem;
        background-color: var(--action-item-bg-color);
    }

    .creature-card {
        flex-basis: calc(33.33% - 10px);
        max-width: calc(33.33% - 10px); 
        padding: 0;
      }
    
    .creature-card h3 {
        font-size: 1.5em;
        margin-top: 20px;
      }
    
    .creature-card p {
        font-size: 1em;
      }
}