:root {
    --heading-font: "Berkshire Swash", serif;
    --paragraph-font: "Bellefair", serif;

    --edge-background-color: #182401;
    --body-bg-color: #AEC3B0CC;

    --action--item-bg-color: #4b1db8;
    --action-text-color: #f8e008;
  
    --special-content-bg-color: aliceblue;
  
    
    --nav-hover-background-color: #230b92;
    --nav-hover-link-color: #ecb02d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #182401;
}

body {
    font-family: var(--paragraph-font);
    font-weight: 400;
    font-style: normal;
    padding: 1.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    background-color: var(--body-bg-color);
    margin-left: 17%;
    margin-right: 17%;
}

header {
    text-align: center;
    padding: 1rem;
}

.header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3px;
    padding-bottom: 1rem;
}

nav {
    display: flex;
    text-align: right;
    justify-content: space-around;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    display: inline;
    padding-right: 0.5rem;
}

nav ul li a {
    font-size: large;
    /*make like a button*/
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    background-color: var(--action--item-bg-color);
    padding: 10px 20px;
    color:var(--action-text-color);
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: var(--nav-hover-background-color);
    color: var(--nav-hover-link-color);
} 

#mobile-menu {
    text-decoration: none;
}

h1, h2, h3 {
    font-family:  var(--heading-font);
    font-weight: 400;
    font-style: normal;
  }

 main {
    padding: 1rem;
 }

 p {
    padding-bottom: 0.5rem;
  }

 img {
    padding-bottom: 0.5rem;
 }

footer {
    text-align: center;
    padding: 0.2rem;
}

.special-content-box {
    margin-top: 3px;
    padding: .3rem;
    background-color: aliceblue;
    border-width: 3px;
    border-style: solid;
    border-color: var(--background-color);
    border-radius: 5px;
}

.special-content-box nav {
    justify-content: start;
    text-align: left;
    width: 100%;
}

.special-content-box nav ul {
    position: relative;
    bottom: -5px;
    left:-5px;
}

.special-content-box nav ul li {
    padding-right: 0;
}

.special-content-box nav ul li a {
    border-radius: 0px;
    border-style: solid;
    border-width:  2px;
    border-bottom: none;
    border-left: none;
    border-right: none;
}

.hide-details {
    display: none;
}

.show-details {
    display: block;
}

.spacer {
    margin-top: 5%;
}

@media (max-width: 64rem) {
    
    body {
        margin-left: 1%;
        margin-right: 1%;
    }

    .nav-menu {
        display: none;
    }

    #mobile-menu::before {
        content: "≡";
        display: block;
        padding: 10px 15px;
        text-decoration: none;
        color:var(--action-text-color);
        background-color: var(--action--item-bg-color);
        border-radius: 5px;
    }

    .header-flex nav {
        color:var(--action-text-color);
        background-color: var(--action--item-bg-color);
        border-radius: 5px;
    }
    
    .show {
        display: flex;
        flex-direction: column;
    }
    
    #mobile-menu.show::before {
        content: "X";
    }
}

@media (max-width: 520px) {
    .special-content-box nav ul {
        display: flex;
        flex-direction: column;
        width: 100%
    }

    .special-content-box nav ul li {
        width: 50%;
        box-sizing: border-box;
        flex-grow: 1;
        flex-shrink: 1;
    }
}