:root {
    --heading-font: "Berkshire Swash", serif;
    --paragraph-font: "Bellefair", serif;

    --background-color: #aec3b0; /*contemplative brown*/
    --primary-emphasis-color: #213002; /*fantasy yellow*/
  
    --standard-text-color: #e9e7e7; /*simple and clean soft white*/
  
    --action-invitation-color: #e9e7e7; /*softer healthy purple*/
      
    --nav-hover-link-color: #e9e7e7; /*maybe soft green just for that contrast to highlight the interactability*/
    --nav-hover-background-color: #758a77; /*brighter purple to encourage interaction*/
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /*the link method was used in the html, instead of the slower import method into css. This section is the css that put the linked font style variable*/
    font-family: var(--paragraph-font);
    font-weight: 400;
    font-style: normal;
}

header {
    text-align: center;
}

.header-flex {
    display: flex;
}

nav {
    text-align: right;
    vertical-align: bottom;
    justify-content: space-around;
}

.border { /*view the size, positioning, and edges of the boxes, and their layer in the DOM*/
    border: 3px solid rgba(174, 195, 176, 0.5);
    background-color: rgba(174, 195, 176, 0.8);
    border-radius: 5px;
    padding: 0.5rem;
}

h1, h2, h3 {
  font-family:  var(--heading-font);
  font-weight: 400;
  font-style: normal;
}

th {
    text-align: end;
    font-weight: 400;
}

td {
    text-align: start;
}

footer {
    background-color: var(--background-color);
    text-align: center;
}

@media (min-width: 37.5rem) {
    body {
        margin-left: 10%;
        margin-right: 10%;
    }

    main{
        text-align: left;
    }
}

@media (min-width: 64rem) {
    
    main{
        text-align: right;
    }
}