:root {
    --background-color: #aec3b0;
    --emphasis-text-color: #213002;
    --weather-icon: url(..images/partly-cloudy.svg)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    max-width: 1250px;
    margin: auto;
    min-height: 1vh;
}

/*header*/
header {
    background-color: var(--background-color);
    padding-bottom: 1em;
    
}

header h1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
}

h1 {
    color: var(--emphasis-text-color);
}

img {
    width: 100%;
    height: auto;
}

/*main*/

main {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.card {
    border: 2px dotted var(--emphasis-text-color);
    background-color: rgba(240, 240, 240, 0.3);
    width: 100%;
    padding-top: .5rem;
}

th {
    text-align: end;
}

td {
    text-align: start;
}

table {
    padding-top: .5rem;
    padding-bottom: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.datatable {
    /*shifts the data table text so that it looks more even when stacked in mobile view*/
    padding-left: 5.5rem;
}

#weathersvg {
    max-width: 3em;
}

/*footer*/
footer {
    padding-top: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color);
    padding-bottom: 1rem;
}

/*desktop view*/
@media screen and (min-width: 1000px){
    main {
        position: relative;
        width: 100%;
    }

    .card {
        background-color: rgba(216, 95, 24, 0.8);
        width: 25em;
        padding-top: .5rem;
    }

    .datatable {
        padding-left: .5rem;
    }

    .data {
        position: absolute;
        bottom: 380px;
        left: 35px;
    }

    .weather {
        position: absolute;
        right: 35px;
        bottom: 50px;

    }

    .weather h2::after {
        content: " 🌥️";
    }

    #weathersvg {
        display: none;
    }

    h2 {
        position: relative;
        text-align: left;
        background-color: var(--background-color);
        color: var(--emphasis-text-color);
        padding-top: .5rem;
        padding-bottom: .5rem;
        padding-left: .5rem;
        max-width: 10rem;
        right: 10px;
    }
}