@media (min-width: 50em) {
    /*original min-width was 640, adjusted due to menu sizing needs after inspection*/
    nav ul {
        display: flex;
        justify-content: space-evenly;
    }
    /*grid method*/
    .figurecontainer {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
    }
    .navigation {
		display: flex;
	}
    .navigation li {
		display: block; /* change state in small view */
		flex: 1 1 100%;
	}
	.navigation a {
		text-align: center;
	}
	#menu {
		display: none;
	}
    nav {
        position: absolute;
        top: 1rem;
        right: 13%;
    }
}